body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}

.App {
  position: relative;
  min-height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
  font-size: 35px;
  font-weight: bold;
}

.sub-title {
  font-size: 15px;
  font-weight: lighter;
}

.fixed-top {
  padding: 16px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 90%;
}

.fixed-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 4px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
